[submodule "external/DirectStorage"]
	path = external/DirectStorage
	url = https://github.com/microsoft/DirectStorage.git

[submodule "external/brotli_g_sdk"]
	path = external/brotli_g_sdk
	url = https://github.com/kilazz/brotli_g_sdk.git
