[submodule "external/DirectStorage"]
	path = external/DirectStorage
	url = https://github.com/microsoft/DirectStorage.git

[submodule "external/brotli_g_sdk"]
	path = external/brotli_g_sdk
	url = https://github.com/kilazz/brotli_g_sdk.git

[submodule "external/zstd"]
	path = external/zstd
	url = https://github.com/facebook/zstd.git

[submodule "external/lz4"]
	path = external/lz4
	url = https://github.com/lz4/lz4.git
